:root {
    --white: whitesmoke;
    --black: #000000;
  }
  * {
    box-sizing: border-box;
  }
body{
    /* background: var(--bg); */
    color: var(--fontColor);
    font-family: helvetica;
    text-align: center;

}

.day-theme {
    --fontColor: var(--white);
    background: url('https://images.unsplash.com/photo-1609096820610-6c3187c78942?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=879&q=80') no-repeat center center fixed;
    background-size: cover;
    transition:all 1s ease;
}
.container{
    background-color:rgba(0, 0, 0, 0.194); 
    padding: 0;
}
.night-theme{
    background: url('https://images.unsplash.com/photo-1509773896068-7fd415d91e2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80') no-repeat center center fixed;
    background-size: cover;
    --fontColor: rgba(236, 235, 235, 0.703);
    transition:all 1s ease;
}

button {
    background-image: linear-gradient(92.88deg, #4157a0 9.16%,  #4f3b70 64.72%) ;
    border-radius: 10px;
    border: none;
    color:  var(--fontColor);
    cursor: pointer;
    font-size: 14px;
    height: 2rem;
    width: 10 rem;
    padding: 0 1rem;
    
}

button:hover {
    box-shadow: rgba(113, 105, 121, 0.279) 0 5px 20px;
    transition-duration: .3s;
}

label {
    font-size: 2rem;
}
